.myHeader{
    color:red;
    font-size: 35;
}

.myParagraph{
    font-family: 'Courier New', Courier, monospace;
    font-size: 16;
    animation-name: initial;
}

.myInput{
    font-family: 'Times New Roman', Times, serif;
    font-size: 16;
    color: green;
}